* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-heading {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6em;
    text-align: left;
    color: #333;
    font-family: 'Raleway', sans-serif;

    @mixin atMedium {
        font-size: 2.2em;
        margin-top: 40px;
        text-align: center;
    }

    &--service {
        font-size: 3.2em;
        color: #eee;
        font-weight: bold;
        margin-top: 25%;
    }
}

p {
    margin: 15px 0;
    line-height: 1.2;
    color: #333;
}