.wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 12px;
    

    @mixin atMedium {
        width: 80%;
        padding: 0 12px;
    }

    &--contact {
        width: 100%;

        @mixin atMedium {
            width: 90%;
        }
    }
}