

.services {
    width: 100%;
    margin-bottom: 50px;
    

    &:after {
        content: " ";
        clear: both;
        display: block;
        
    }

    &_container {
        width: 100%;
        cursor: pointer;
        display: flex;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 10px solid $blue;
        border-left: none;
        transition: all 200ms ease-in-out;
        
        & a {
            display: flex;

            @mixin atMedium {
                display: block;
            }
        }

        &:last-of-type {
            margin-right: 0;
        }

        @mixin atMedium {
            float: left;
            margin-right: 2%;
            width: 49%;
            display: block;
            border: none;


            &:nth-of-type(2) {
                margin-right: 0;
            }

            &:nth-of-type(3) {
                width: 49%;
                margin: 0 auto;
                float: none;
            }
        }


        @mixin atLarge {
            width: 32%;

            &:nth-of-type(2) {
                margin-right: 2%;
            }

            &:last-of-type {
                margin-right: 0;
                width: 32%;
            }
        }
    }

    &_container:hover .services_container-image {
        @mixin atMedium {
            background-color: $subBlue;
        }
        
    }

    &_container:hover {
        @mixin atLarge {
            transform: scale(1.05);            
        }
    }




    &_container-image {
        display: inline-block;
        background-color: $blue;
        padding:10px;
        text-align: center;
        width: 100%;
        flex: 1;
        cursor: pointer;
        transition: all 200ms ease-in-out;

        @mixin atMedium {
            width: 100%;
            padding:30px;
        }

        & img {
            max-width: 100%;
            height: auto;
            margin-top: 40%;
            transform: translateY(-50%);

            @mixin atMedium {
                max-height: 160px;
                margin-top: 0;
                transform: none;
            }


        }

    }

    &_container-text {
        padding: 10px;
        background-color: #fff;
        width: 100%;
        flex: 3;
        height: auto;
        float: right;


        @mixin atMedium {
            width: 100%;
            float: none;
            background-color: #eee;
        }

        & h4 {
            margin-bottom: 5px;
            color: #333;
            font-size: 1em;

            @mixin atMedium {
                font-size: 1.3em;
            }
        }

        & ul {
            list-style-type: none;
            margin-bottom: 10px;
            
        }


        & ul li {
            color: #828E84;
            margin-left: 5px;
        }

        & ul li:before {
            content: "- ";
        }
    }

}